<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="person01" class="com.sse.annotation.bean.Person">
        <property name="age" value="35"/>
        <property name="name" value="关羽"/>
        <property name="nickname" value="五虎上将关二爷"/>
    </bean>
</beans>